
<body>
    <div class= 'columns' id = "disp">
        <div class = "column is-two-fifths" id="backgroundmain">
            <div class="field">
                <h1 class ='feeldesc'> Tell us how you are feeling !</h1>
                <div class="control">
                <label class="radio">
                    <image class = 'emoji' src ="../Assets/veryhappy.png.png"></image>
                    <input id="amazing" class = 'mood'  type="radio" name="question">Amazing
                </label>
                <label class="radio">
                    <image class = 'emoji1' src ="https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-4/256/smiley-128.png"> </image>
                    <input id="happy" class = 'mood' type="radio" name="question">Happy
                </label>
                <label class="radio">
                    <image class = 'emoji' src ="../Assets/neutral.png"></image>
                    <input  id="neutral" class = 'mood'  type="radio" name="question">Neutral
                
                </label>
                <label class="radio">
                    <image class = 'emoji' src ="../Assets/sad.png.png"></image>
                    <input id="sad" class = 'mood' type="radio" name="question">Sad
                </label>
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                <textarea class="textarea" placeholder="Tell us how your day went!"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                <button id= "button" class="button is-link">Submit</button>
                </div>

            </div>
    </div>
    <div id = 'activitysect' class = 'column'>
        <h1 class ='activitydesc'> Tell us what great activities you've been up to! </h1>

        <label class="checkbox">
            <image class ='emoji2' src ="./Assets/cooked.png"></image>
            <input id="cook" type="checkbox">Cooked at home
        </label>
                <label class="checkbox">
            <image class ='emoji2' src ="./Assets/listenedtomusic.png"></image>
            <input id='music'type="checkbox">Listened to music
        </label>
                <label class="checkbox">
            <image class ='emoji2' src ="./Assets/meditation.png"></image>
            <input id ="meditate" type="checkbox">Meditate
        </label>
                <label class="checkbox">
            <image class ='emoji2' src ="./Assets/school.png"></image>
            <input id="school" type="checkbox">Go to School
        </label>
    </div>
        <div id = 'activitysect2' class = 'column'>
            <h1 class ='activitydesc'> Tell us the 'whoops' activities too! </h1>

            <label class="checkbox">
                <image class ='emoji2' src ="./Assets/junkfood.png"></image>
                <input id="junk" type="checkbox">Ate junk Food
            </label>
            <label class="checkbox">
                <image class ='emoji2' src ="./Assets/watchedmovies.png"></image>
                <input id="binge" type="checkbox">Binged a TV Show
            </label>

    </div>
</body>

