
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 

        {{#each mood as |mood|}}
        {{act1}}
        {{act2}}
        {{/each}}
      </p>
      <p class="subtitle">
        Jeff Atwood
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/01/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <a href="#">Happy</a>
        </span>
      </p>
    </footer>
  </div>
  